.methodology-container {
  color: #fff;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 900px;
  margin: 5em auto;
  min-height: min-content;
}

.methodology-container .item {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
}

.methodology-container .item h3 {
  color: #fff;
  font-size: 2em;
}

.methodology-container .item span {
  margin: 8px 0;
  font-size: 16px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .methodology-container {
    margin: 2em 18px;
  }
}
