.App {
  text-align: center;
  background-color: #0d0d0d;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.country-section {
  width: 900px;
  max-width: 100vw;
}
.country-section .subheader {
  white-space: nowrap;
}

.country-section .selected-country-text {
  color: #2e9bff;
}

/* react-toastify custom css */
.Toastify__toast {
  border-radius: 4px;
  padding: 12px;
  min-height: 40px;
  background: #fefefe;
  color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 600px) {
  .country-section .subheader {
    white-space: normal;
  }
}
