.App {
  text-align: center;
  background-color: #0d0d0d;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.App-header {
  height: calc(100vh - 62px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: auto;
}

h1 {
  color: #fff !important;
  margin: 0.5em 0;
}

.dummy-h1 {
  display: INLINE;
  font-weight: inherit;
  font-size: inherit;
}

header {
  background-color: transparent;
  padding: 12px 32px;
  overflow: hidden;
  min-height: 68px;
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: min-content;
}

header nav a:first-child,
header nav a:nth-child(2) {
  margin-right: 16px;
}

header nav a {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 2.5em;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.country-section {
  width: 900px;
  max-width: 100vw;
  height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.country-section .subheader {
  white-space: nowrap;
  margin-bottom: 1.5em;
}

.country-section .asterisk {
  font-size: 14px;
  margin-top: -48px;
  margin-bottom: 24px;
}

.country-section .selected-country-text {
  color: #2e9bff;
}

.country-section .country-meta-data {
  font-size: 22px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.country-section .country-meta-data .datapoint {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
  margin-right: 16px;
}

.country-section .country-meta-data .anticon {
  margin: 0 4px 0 12px;
}

.country-section .country-meta-data .datapoint-value {
  margin-right: -8px;
}

.country-section .footer-link-container {
  font-size: 18px;
  color: #fff;
}
.country-section .footer-link {
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s;
}

.country-section .footer-link:hover {
  color: #40a9ff;
}

/* react-toastify custom css */
.Toastify__toast {
  border-radius: 4px;
  padding: 12px;
  min-height: 40px;
  background: #fefefe;
  color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Toastify__toast-body {
  color: #0d0d0d;
}

/* reaect tooltip custom css */
.__react_component_tooltip {
  max-width: 300px;
}

/* react numeric input custom css */

.react-numeric-input input {
  outline: none;
  width: 70px;
  background: transparent;
  border: none !important;
  padding: 0 !important;
  pointer-events: none;
  touch-action: none;
}
.react-numeric-input b {
  background: transparent;
  border: none !important;
  cursor: pointer;
  box-shadow: none !important;
}
.react-numeric-input b:first-of-type {
  top: 6px !important;
}

.react-numeric-input b i {
  border-color: transparent transparent rgba(255, 255, 255, 1) !important;
  border-width: 0px 0.5ex 0.5ex !important;
  cursor: pointer;
}

.react-numeric-input b + b {
  bottom: 0px !important;
}

.react-numeric-input b + b i {
  border-color: rgba(255, 255, 255, 1) transparent transparent !important;
  border-width: 0.5ex 0.5ex 0px !important;
}

@media only screen and (max-width: 1280px) {
  .country-section .country-meta-data {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1195px) {
  .country-section .subheader {
    white-space: normal;
  }
  .country-section .country-meta-data {
    font-size: 18px;
    white-space: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .country-section .country-meta-data .datapoint {
    margin-right: 0;
  }
}

@media only screen and (max-width: 900px) {
  .country-section .asterisk {
    margin-top: -40px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 11px 18px;
  }
  header nav a {
    font-size: 12px;
  }
  .country-section .country-meta-data {
    font-size: 16px;
  }
  .country-section .asterisk {
    margin-top: -18px;
  }
  .react-numeric-input {
    margin-right: 8px !important;
  }
  .react-numeric-input input {
    width: 100px !important;
  }
  .react-numeric-input b {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
  }
  .react-numeric-input b i {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
}
